RESEND_API_KEY="re_your_api_key"
NEXT_PUBLIC_SITE_URL="https://stackpointerlabs.com.au"
CONTACT_FROM_EMAIL="info@stackpointerlabs.com.au"
CONTACT_TO_EMAIL="abdullahshaikh085@gmail.com,sarmadalishaikh@gmail.com"
